/**
 *  █████╗ ██████╗ ██████╗  ██████╗ ██╗    ██╗        
 * ██╔══██╗██╔══██╗██╔══██╗██╔═══██╗██║    ██║        
 * ███████║██████╔╝██████╔╝██║   ██║██║ █╗ ██║        
 * ██╔══██║██╔══██╗██╔══██╗██║   ██║██║███╗██║        
 * ██║  ██║██║  ██║██║  ██║╚██████╔╝╚███╔███╔╝        
 * ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝  ╚═╝ ╚═════╝  ╚══╝╚══╝         
 *                                                    
 *  ██████╗ █████╗ ███╗   ██╗██╗   ██╗ █████╗ ███████╗
 * ██╔════╝██╔══██╗████╗  ██║██║   ██║██╔══██╗██╔════╝
 * ██║     ███████║██╔██╗ ██║██║   ██║███████║███████╗
 * ██║     ██╔══██║██║╚██╗██║╚██╗ ██╔╝██╔══██║╚════██║
 * ╚██████╗██║  ██║██║ ╚████║ ╚████╔╝ ██║  ██║███████║
 *  ╚═════╝╚═╝  ╚═╝╚═╝  ╚═══╝  ╚═══╝  ╚═╝  ╚═╝╚══════╝
 *                                                    
 */

.arrowCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 100;
  mix-blend-mode: normal;
}

.arrowCanvas::before {
  content: '';
  display: none;
  --arrow-color: rgb(var(--dynamic-hsl-average-rgb));
}

/**
 * ███████╗ ██████╗ ███████╗
 * ██╔════╝██╔═══██╗██╔════╝
 * █████╗  ██║   ██║█████╗  
 * ██╔══╝  ██║   ██║██╔══╝  
 * ███████╗╚██████╔╝██║     
 * ╚══════╝ ╚═════╝ ╚═╝     
 *                          
 */