.ThemeSwitcherContainer {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: var(--font-mono);
  padding: 0rem 1rem;
}

.ThemeSwitcherContainer.dark {
  transition: background-color 10s ease, color 10s ease;
}

.ThemeSwitcherContainer p {
  display: flex;
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0px;
}

.ThemeSwitcherContainer:hover p {
  color: var(--primary-color);
}

@media (max-width: 900px) {
  .ThemeSwitcherContainer p {
    font-size: 1rem;
    letter-spacing: 1px;
  }
}

@media (max-width: 600px) {
  .ThemeSwitcherContainer p {
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
}

@media (max-width: 400px) {
  .ThemeSwitcherContainer {
    padding-left: 0.5rem;
  }
}