.ThemeSwitcherContainer {
  cursor: pointer;
  font-family: 'DM Sans', sans-serif;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.ThemeLogo {
  font-size: 1.5rem; /* Or any size you prefer */
  color: var(--text-color);
}

.ThemeSwitcherContainer.dark {
  transition: background-color 10s ease, color 10s ease;
}

.ThemeSwitcherContainer p {
  display: block;
  color: var(--text-color);
  font-size: 1.1em;
  font-weight: 400;
  letter-spacing: 0.1em;
}

@media (max-width: 992px) {
  .ThemeSwitcherContainer p {
    font-size: 0.8em;
  }
}

@media (max-width: 768px) {
  .ThemeSwitcherContainer p {
    font-size: 0.8em;
  }
}

@media (max-width: 576px) {
  .ThemeSwitcherContainer p {
    font-size: 0.8em;
  }
}