.ThemeSwitcherContainer {
  cursor: pointer;
  font-family: 'DM Sans', sans-serif;
}

.ThemeSwitcherContainer.dark {
  transition: background-color 10s ease, color 10s ease;
}

.ThemeSwitcherContainer p {
  display: block;
  color: #222222;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.1em;
}

.ThemeSwitcherContainer.dark p {
  color: #E3DCED;
}

.invert {
  filter: invert(1);
}

.dark {
  background-color: #222222;
  color: #E3DCED;
}

@media (max-width: 992px) {
  .ThemeSwitcherContainer p {
    font-size: 0.8em;
  }
}

@media (max-width: 768px) {
  .ThemeSwitcherContainer p {
    font-size: 0.8em;
  }
}

@media (max-width: 576px) {
  .ThemeSwitcherContainer p {
    font-size: 0.8em;
  }
}