html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  position: relative;
}

.AppMain {
  flex: 1;
  text-align: center;
}

.AppMain h1 {
  font-family: 'DM Sans', sans-serif;
  font-size: 5em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2em;
}

.AppMain p {
  font-family: 'DM Sans', sans-serif;
  font-size: 1em;
  color: #222222;
  text-transform: uppercase;
  font-weight: 500;
}

.mainContent {
  flex: 1;
  padding: calc(var(--spacing-unit) * 8) var(--spacing-unit);
  margin: 0 auto;
  width: 100%;
  max-width: var(--main-content-width);
}

/* ------- WEB BREAKPOINTS ------- */

@media (max-width: 992px) {
  .App {
    padding: none;
  }

  .AppMain h1 {
    font-size: 4em;
  }

  .AppMain p {
    font-size: 0.9em;
  }

  footer {
    font-size: 0.6em;
  }
}

@media (max-width: 768px) {
  .App {
    padding: none;
  }

  .AppMain h1 {
    font-size: 2.5em;
  }

  .AppMain p {
    font-size: 0.8em;
  }

  .AppLogo {
    height: 25vmin;
  }

  footer {
    font-size: 0.6em;
  }
}

@media (max-width: 576px) {
  .AppMain h1 {
    font-size: 2em;
  }

  .AppMain p {
    font-size: 0.7em;
  }

  .AppLogo {
    height: 30vmin;
  }

  footer {
    font-size: 0.6em;
  }
}