/**
 *         ██╗███████╗████████╗██████╗ ██████╗  █████╗ ██╗███╗   ██╗███████╗███╗   ███╗ ██████╗ ███╗   ██╗ ██████╗ 
 *         ██║██╔════╝╚══██╔══╝██╔══██╗██╔══██╗██╔══██╗██║████╗  ██║██╔════╝████╗ ████║██╔═══██╗████╗  ██║██╔═══██╗
 *         ██║█████╗     ██║   ██████╔╝██████╔╝███████║██║██╔██╗ ██║███████╗██╔████╔██║██║   ██║██╔██╗ ██║██║   ██║
 *    ██   ██║██╔══╝     ██║   ██╔══██╗██╔══██╗██╔══██║██║██║╚██╗██║╚════██║██║╚██╔╝██║██║   ██║██║╚██╗██║██║   ██║
 *    ╚█████╔╝███████╗   ██║   ██████╔╝██║  ██║██║  ██║██║██║ ╚████║███████║██║ ╚═╝ ██║╚██████╔╝██║ ╚████║╚██████╔╝
 *     ╚════╝ ╚══════╝   ╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚═══╝╚══════╝╚═╝     ╚═╝ ╚═════╝ ╚═╝  ╚═══╝ ╚═════╝ 
 *                                                                                                                 
 */

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.ujjwalvivek.com/fonts/JetBrainsMono/Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.ujjwalvivek.com/fonts/JetBrainsMono/ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.ujjwalvivek.com/fonts/JetBrainsMono/Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.ujjwalvivek.com/fonts/JetBrainsMono/Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.ujjwalvivek.com/fonts/JetBrainsMono/Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.ujjwalvivek.com/fonts/JetBrainsMono/SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.ujjwalvivek.com/fonts/JetBrainsMono/Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.ujjwalvivek.com/fonts/JetBrainsMono/ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: block;
}

/**
 *    ███╗   ██╗███████╗ ██████╗ ███╗   ██╗
 *    ████╗  ██║██╔════╝██╔═══██╗████╗  ██║
 *    ██╔██╗ ██║█████╗  ██║   ██║██╔██╗ ██║
 *    ██║╚██╗██║██╔══╝  ██║   ██║██║╚██╗██║
 *    ██║ ╚████║███████╗╚██████╔╝██║ ╚████║
 *    ╚═╝  ╚═══╝╚══════╝ ╚═════╝ ╚═╝  ╚═══╝
 *                                         
 */

@font-face {
  font-family: 'Monaspace Neon';
  src: url('https://cdn.ujjwalvivek.com/fonts/Monaspace/Neon/ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Monaspace Neon';
  src: url('https://cdn.ujjwalvivek.com/fonts/Monaspace/Neon/Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Monaspace Neon';
  src: url('https://cdn.ujjwalvivek.com/fonts/Monaspace/Neon/Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Monaspace Neon';
  src: url('https://cdn.ujjwalvivek.com/fonts/Monaspace/Neon/Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Monaspace Neon';
  src: url('https://cdn.ujjwalvivek.com/fonts/Monaspace/Neon/SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Monaspace Neon';
  src: url('https://cdn.ujjwalvivek.com/fonts/Monaspace/Neon/Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Monaspace Neon';
  src: url('https://cdn.ujjwalvivek.com/fonts/Monaspace/Neon/ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: block;
}

/**
 *    ██╗  ██╗██████╗ ██╗   ██╗██████╗ ████████╗ ██████╗ ███╗   ██╗
 *    ██║ ██╔╝██╔══██╗╚██╗ ██╔╝██╔══██╗╚══██╔══╝██╔═══██╗████╗  ██║
 *    █████╔╝ ██████╔╝ ╚████╔╝ ██████╔╝   ██║   ██║   ██║██╔██╗ ██║
 *    ██╔═██╗ ██╔══██╗  ╚██╔╝  ██╔═══╝    ██║   ██║   ██║██║╚██╗██║
 *    ██║  ██╗██║  ██║   ██║   ██║        ██║   ╚██████╔╝██║ ╚████║
 *    ╚═╝  ╚═╝╚═╝  ╚═╝   ╚═╝   ╚═╝        ╚═╝    ╚═════╝ ╚═╝  ╚═══╝
 *                                                                 
 */

@font-face {
  font-family: 'Monaspace Krypton';
  font-display: block;
  src: url('https://cdn.ujjwalvivek.com/fonts/Monaspace/Krypton/ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Monaspace Krypton';
  font-display: block;
  src: url('https://cdn.ujjwalvivek.com/fonts/Monaspace/Krypton/Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Monaspace Krypton';
  font-display: block;
  src: url('https://cdn.ujjwalvivek.com/fonts/Monaspace/Krypton/Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Monaspace Krypton';
  font-display: block;
  src: url('https://cdn.ujjwalvivek.com/fonts/Monaspace/Krypton/Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Monaspace Krypton';
  font-display: block;
  src: url('https://cdn.ujjwalvivek.com/fonts/Monaspace/Krypton/SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Monaspace Krypton';
  font-display: block;
  src: url('https://cdn.ujjwalvivek.com/fonts/Monaspace/Krypton/Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Monaspace Krypton';
  font-display: block;
  src: url('https://cdn.ujjwalvivek.com/fonts/Monaspace/Krypton/ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

/**
 *    ███╗   ██╗ ██████╗ ████████╗ ██████╗ ███████╗███╗   ███╗ ██████╗      ██╗██╗
 *    ████╗  ██║██╔═══██╗╚══██╔══╝██╔═══██╗██╔════╝████╗ ████║██╔═══██╗     ██║██║
 *    ██╔██╗ ██║██║   ██║   ██║   ██║   ██║█████╗  ██╔████╔██║██║   ██║     ██║██║
 *    ██║╚██╗██║██║   ██║   ██║   ██║   ██║██╔══╝  ██║╚██╔╝██║██║   ██║██   ██║██║
 *    ██║ ╚████║╚██████╔╝   ██║   ╚██████╔╝███████╗██║ ╚═╝ ██║╚██████╔╝╚█████╔╝██║
 *    ╚═╝  ╚═══╝ ╚═════╝    ╚═╝    ╚═════╝ ╚══════╝╚═╝     ╚═╝ ╚═════╝  ╚════╝ ╚═╝
 *                                                                                
 */

/* @font-face {
  font-family: 'Noto Emoji';
  src: url('https://cdn.ujjwalvivek.com/fonts/NotoEmoji/Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Noto Emoji';
  src: url('https://cdn.ujjwalvivek.com/fonts/NotoEmoji/Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Noto Emoji';
  src: url('https://cdn.ujjwalvivek.com/fonts/NotoEmoji/Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Noto Emoji';
  src: url('https://cdn.ujjwalvivek.com/fonts/NotoEmoji/SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Noto Emoji';
  src: url('https://cdn.ujjwalvivek.com/fonts/NotoEmoji/Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: block;
} */

/**
 *    ██████╗  ██████╗  ██████╗ ████████╗     ██████╗ ██████╗ ███╗   ██╗███████╗██╗ ██████╗ 
 *    ██╔══██╗██╔═══██╗██╔═══██╗╚══██╔══╝    ██╔════╝██╔═══██╗████╗  ██║██╔════╝██║██╔════╝ 
 *    ██████╔╝██║   ██║██║   ██║   ██║       ██║     ██║   ██║██╔██╗ ██║█████╗  ██║██║  ███╗
 *    ██╔══██╗██║   ██║██║   ██║   ██║       ██║     ██║   ██║██║╚██╗██║██╔══╝  ██║██║   ██║
 *    ██║  ██║╚██████╔╝╚██████╔╝   ██║       ╚██████╗╚██████╔╝██║ ╚████║██║     ██║╚██████╔╝
 *    ╚═╝  ╚═╝ ╚═════╝  ╚═════╝    ╚═╝        ╚═════╝ ╚═════╝ ╚═╝  ╚═══╝╚═╝     ╚═╝ ╚═════╝ 
 *                                                                                          
 */

:root {
  /* Base Colors */
  --background-color: rgb(247, 241, 227);
  --bit-dark-color: rgb(247, 241, 227);
  --text-color: rgb(12, 12, 12);
  --primary-color: rgb(92, 92, 92);
  --starship-grey-color: rgb(36, 36, 36);

  /* RGB Variants */
  --background-color-rgb: 247, 241, 227;
  --text-color-rgb: 12, 12, 12;
  --bit-dark-color-rgb: 247, 241, 227;
  --primary-color-rgb: 92, 92, 92;
  --status-ok-color-rgb: 44, 90, 75;
  --status-warn-color-rgb: 97, 67, 26;
  --status-ram-color-rgb: 141, 46, 46;
  --status-info-color-rgb: 0, 110, 122;

  /* Hash Colors */
  --status-ok-color: #2c5a4b;
  --status-warn-color: #61431a;
  --status-ram-color: #8d2e2e;
  --status-info-color: #006e7a;

  /* Dynamic Background Color Averages */
  --dynamic-rgb-average: #888888;
  --dynamic-rgb-average-rgb: 136, 136, 136;
  --dynamic-hsl-average: #888888;
  --dynamic-hsl-average-rgb: 136, 136, 136;
  --dynamic-dominant-color: #888888;
  --dynamic-dominant-color-rgb: 136, 136, 136;
  --dynamic-theme-name: "default";
  --dynamic-color-mode: "default";

  /* Font and Layout Variables */
  --font-sans: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
  --font-krypton: 'Monaspace Krypton', monospace;
  --font-neon: 'Monaspace Neon', monospace;
  --font-emoji: 'Noto Emoji', sans-serif;

  /* Spacing */
  --spacing-unit: 8px;
  --main-content-width: 1000px;
}

body.dark-mode {
  /* Base Colors */
  --background-color: rgb(0, 0, 0);
  --bit-dark-color: rgb(15, 15, 15);
  --text-color: rgb(238, 231, 215);
  --primary-color: rgb(131, 131, 131);

  /* RGB Variants */
  --background-color-rgb: 0, 0, 0;
  --bit-dark-color-rgb: 15, 15, 15;
  --text-color-rgb: 238, 231, 215;
  --primary-color-rgb: 131, 131, 131;

  /* Hash Colors */
  --status-ok-color: #7fffd4;
  --status-warn-color: #ffb347;
  --status-ram-color: #ff5555;
  --status-info-color: #00e6ff;
}

/**
 *    ██████╗  ██████╗ ██████╗ ██╗   ██╗
 *    ██╔══██╗██╔═══██╗██╔══██╗╚██╗ ██╔╝
 *    ██████╔╝██║   ██║██║  ██║ ╚████╔╝ 
 *    ██╔══██╗██║   ██║██║  ██║  ╚██╔╝  
 *    ██████╔╝╚██████╔╝██████╔╝   ██║   
 *    ╚═════╝  ╚═════╝ ╚═════╝    ╚═╝   
 *                                      
 */

html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  font-family: var(--font-mono);
  text-shadow: 0 0 1px rgba(var(--dynamic-dominant-color-rgb), 1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--font-mono);
}

/**
 *     █████╗  ██╗ ██╗██╗   ██╗
 *    ██╔══██╗███║███║╚██╗ ██╔╝
 *    ███████║╚██║╚██║ ╚████╔╝ 
 *    ██╔══██║ ██║ ██║  ╚██╔╝  
 *    ██║  ██║ ██║ ██║   ██║   
 *    ╚═╝  ╚═╝ ╚═╝ ╚═╝   ╚═╝   
 *                             
 */

@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/**
 *    ███╗   ███╗ █████╗ ████████╗██╗  ██╗
 *    ████╗ ████║██╔══██╗╚══██╔══╝██║  ██║
 *    ██╔████╔██║███████║   ██║   ███████║
 *    ██║╚██╔╝██║██╔══██║   ██║   ██╔══██║
 *    ██║ ╚═╝ ██║██║  ██║   ██║   ██║  ██║
 *    ╚═╝     ╚═╝╚═╝  ╚═╝   ╚═╝   ╚═╝  ╚═╝
 *                                        
 */

.katex {
  color: var(--status-ok-color) !important;
  font-family: var(--font-mono) !important;
  font-size: 1.2rem !important;
}

.katex-display {
  padding: 5rem !important;
  margin: 2rem 0 !important;
  border-radius: 2px !important;
}

.katex .mbin,
.katex .mrel {
  color: var(--status-info-color) !important;
}

.katex .mop {
  color: var(--status-ram-color) !important;
}

.katex .mopen,
.katex .mclose {
  color: var(--status-warn-color) !important;
}

.katex-html {
  margin-top: 1rem !important;
  display: block !important;
  width: 100% !important;
  box-sizing: border-box !important;
  padding: 0.5rem 0rem !important;
  text-align: left !important;
}

.katex .katex-html,
.katex .katex-html .base,
.katex .katex-html .strut,
.katex .mord,
.katex .mbin,
.katex .mrel,
.katex .mop,
.katex .mopen,
.katex .mclose,
.katex-display .katex,
.katex-display .katex *,
.katex-display .katex-html,
.katex-display .katex-html * {
  font-family: var(--font-mono) !important;
  color: var(--dynamic-dominant-color) !important;
  font-style: normal !important;
}

@media (max-width: 900px) {
  .katex {
    font-size: 1rem !important;
  }
}

@media (max-width: 600px) {
  .katex {
    font-size: 0.8rem !important;
  }
}

/**
 * ███████╗ ██████╗██████╗  ██████╗ ██╗     ██╗
 * ██╔════╝██╔════╝██╔══██╗██╔═══██╗██║     ██║
 * ███████╗██║     ██████╔╝██║   ██║██║     ██║
 * ╚════██║██║     ██╔══██╗██║   ██║██║     ██║
 * ███████║╚██████╗██║  ██║╚██████╔╝███████╗███████╗
 * ╚══════╝ ╚═════╝╚═╝  ╚═╝ ╚═════╝ ╚══════╝╚══════╝
 *
 * ██████╗  █████╗ ██████╗
 * ██╔══██╗██╔══██╗██╔══██╗
 * ██████╔╝███████║██████╔╝
 * ██╔══██╗██╔══██║██╔══██╗
 * ██████╔╝██║  ██║██║  ██║
 * ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
 *
 */

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0.4rem;
  background: transparent;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: rgba(var(--text-color-rgb), 1);
  border-radius: 0;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: var(--background-color);
  min-height: 40px;
  border: 2px solid rgba(var(--text-color-rgb), 0.9);
}

html::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--dynamic-dominant-color-rgb), 1);
  box-shadow: 0 4px 16px var(--background-color);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--background-color) rgba(var(--text-color-rgb), 1);
}

/**
 *    ███████╗ ██████╗ ███████╗
 *    ██╔════╝██╔═══██╗██╔════╝
 *    █████╗  ██║   ██║█████╗  
 *    ██╔══╝  ██║   ██║██╔══╝  
 *    ███████╗╚██████╔╝██║     
 *    ╚══════╝ ╚═════╝ ╚═╝     
 *                             
 */